table{
    font-family: Georgia;
    text-align: left;
    border: #1a1a1a solid 2px;
}
th{
    background-color:#1a1a1a;
    color: aliceblue;
    padding: 20px 100px 20px 100px;
}
td{
    padding: 10px 50px 10px ;
}
.gri{
    background-color:#e6e6e6;
}
.info {
color: red;
text-align: center;
}
/* 
#ccff33, #66ff33, #061a00 */

.mare{
    margin: 70px;
    width: fit-content;
    border-color: #061a00;
    border-style: solid;
   border-style: groove;
}

form {
    background-color: #ccff33 ;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    /* border-style: solid; */
    /* box-shadow: 10px 10px 5px #061a00, -1em 0 .4em olive; */
   
    
    
}
/* intrebari 
border gradient,
data */
input, textarea {
    border-style: solid;
    border-radius: 3px;
    border-color: #66ff33;
}
.butoane p {
    background-color:#061a00;
    color: azure;
    border-radius: 3px;
    width: 120px;
    height: 20px;
    text-align: center;
  
}
.butoane{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}