table{
    font-family: Georgia;
    text-align: left;
    border: #1a1a1a solid 2px;
}
th{
    background-color:#1a1a1a;
    color: aliceblue;
    padding: 20px 100px 20px 100px;
}
td{
    padding: 10px 50px 10px ;
}
.gri{
    background-color:#e6e6e6;
}
.info {
color: red;
text-align: center;
}


form {
    margin: 70px;
    background-color: #ccff33 ;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px #061a00;
    
    
    
}

input, textarea, select {
    height: 30px;
    border-style: solid;
    border-radius: 3px;
    border-color: #66ff33;
}
textarea{
    width: 600px;
}
select{
    width: 200px;
}
.butoane button {
    background-color:#061a00;
    color: azure;
    border-radius: 3px;
    width: 120px;
    height: 20px;
    text-align: center;
  
}
.butoane{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}