body{
    background-color: rgb(196, 194, 194);
}
.menu {
    background-color: rgb(80, 90, 45);
    height: 27px;
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center ;
   
    
}
.h {
    width: 280px;
    height: 20px;
    background-color: rgba(189, 148, 111, 0.733);
    text-align: center;
    text-decoration-line: underline;
    color: aliceblue;
    font-weight: bold;
    margin-left: 5px;
}
.menul{
    width: 200px;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 75px;
    top: 80px;
}

.h1 {
    width: 150px;
    height: 30px;
    background-color: rgb(240, 231, 231);
    text-decoration-line: underline;
    color: gray;
    font-weight: bold;
    margin: 10px;
    margin-left: 5px;
}
.menull{

margin-top: 20px;

}

.content{
    width: 500px;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 220px;
    top: 1px;
}